<h1 ngClass="['typography', 'typography__h1']" *ngIf="variant === 'h1'">
  {{ text }}
</h1>
<h2 ngClass="['typography', 'typography__h2']" *ngIf="variant === 'h2'">
  {{ text }}
</h2>
<h3 ngClass="['typography', 'typography__h3']" *ngIf="variant === 'h3'">
  {{ text }}
</h3>
<h4 ngClass="['typography', 'typography__h4']" *ngIf="variant === 'h4'">
  {{ text }}
</h4>
<h5 ngClass="['typography', 'typography__h5']" *ngIf="variant === 'h5'">
  {{ text }}
</h5>
<h6 ngClass="['typography', 'typography__h6']" *ngIf="variant === 'h6'">
  {{ text }}
</h6>
<p ngClass="['typography', 'typography__p']" *ngIf="variant === 'text'">
  {{ text }}
</p>
